
/* for the posts */
.poste{
    display: grid;
    grid-template-columns:  10% 90%;
    gap: 10px;

   text-decoration: none;
   color : black;
   
}

.infoposte{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}


.imageprofil img{
    border-radius: 50%;
    border: #a696e6 solid 2px;
    width:50px;
    height:50px;
}

.contenueposte{
    padding: 10px;
}

.contenueposte img{
    width:100%;
    max-width:350px;
}

.card{
    margin-right: 2%;
    margin-left: 2%;
}

@media screen and (min-width: 1000px) {
    .card{
        margin-right: 20%;
        margin-left: 20%;
    }
}


/* for other fiture */
#Tlogo{
    text-decoration: none;

}

.page-wrapper{
    padding-top: 110px !important;
    padding-bottom: 30px !important;
    background-color: #a696e6 !important;
}

/* for the write post form */

.buttonPourPoste{
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 1;
}

.outFormWrite{
    display: none;
    position: fixed;
    left: 5%;
    top: 5%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.564);
}

.inFormWrite{
    position: fixed;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    z-index: 3;
    background-color: rgb(255, 255, 255);
}