<div class=buttonPourPoste>
    <button onclick="openForm()"><i data-feather="pen-tool" class="feather-icon"></i> Poster </button>
</div>

<div id="popupForm" class="outFormWrite" onclick="closeForm()">
    <div class="inFormWrite">
       <p>oui</p>
    </div>
</div>